/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false,
    ]

    withName: BLAST_UPDATEBLASTDB {
        ext.args = '--decompress'
    }

    withName: BLASTDBCMD_EXTRACT_TAXMAPPING {
        ext.args = '-outfmt "%a\t%T"'
    }

    withName: MMSEQS_CREATEDB {
        ext.args = '--dbtype 2'
    }

    withName: MMSEQS_CREATEINDEX {
        memory      = 16.GB
        ext.args    = '--search-type 3'
        stageInMode = 'copy'
    }

    withName: MMSEQS_CREATETAXDB {
        stageInMode = 'copy'
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/dorado/basecalling" },
            mode: params.publish_dir_mode,
            pattern: "*",
            enabled: false,
        ]
    }
    withName: DEMULTIPLEXING {
        publishDir = [
            path: { "${params.outdir}/dorado/basecalling" },
            mode: params.publish_dir_mode,
            pattern: "*",
            enabled: false,
        ]
    }
    withName: BASECALL_FILTER {
        ext.prefix = { "${meta.id}_basecalled.pass" }
        ext.args   = { "-e '[qs] >= ${params.dorado_qscore_filter}' -U ${meta.id}_basecalled.fail.ubam" }
        publishDir = [
            path: { "${params.outdir}/dorado/basecalling" },
            mode: params.publish_dir_mode,
            pattern: "*",
            enabled: false,
        ]
    }

    withName: PIGZ {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/dorado/demux" },
            mode: params.publish_dir_mode,
            enabled: false,
        ]
    }

    withName: FASTQC {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/QC/reports/fastqc" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: NANOQ_QC {
        ext.prefix = { "${meta.id}" }
        ext.args   = "-vv"
        publishDir = [
            path: { "${params.outdir}/QC/reports/nanoq/" },
            mode: params.publish_dir_mode,
            pattern: "*.stats",
        ]
    }

    withName: NANOQ_FILTER {
        ext.args   = "-l ${params.nanoq_min_length} -m ${params.nanoq_max_length} -q ${params.nanoq_min_qscore}"
        ext.prefix = { "${meta.id}.qc" }
        publishDir = [
            path: { "${params.outdir}/QC/fastq/filtered" },
            mode: params.publish_dir_mode,
            pattern: "*.fastq.gz",
            enabled: params.nanoq_save_reads,
        ]
    }

    withName: FILTLONG {
        ext.args   = "--target_bases ${1500 * params.filtlong_sampling} --length_weight 0"
        ext.prefix = { "${meta.id}_subsampling" }
        publishDir = [
            path: { "${params.outdir}/QC/fastq/filtered_sampling" },
            mode: params.publish_dir_mode,
            enabled: params.filtlong_save_reads,
            pattern: "*.fastq.gz",
        ]
    }

    withName: MMSEQS_EASYSEARCH {
        ext.args   = [
            "--search-type 3",
            "--min-aln-len ${params.mmseqs2_min_aln}",
            "--min-seq-id ${params.mmseqs2_min_identity}",
            "--format-output 'query,target,pident,tcov,alnlen,taxname,taxlineage'",
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/taxonomy/mmseqs_output/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: MERGE_AND_GROUP_SAMPLES {
        publishDir = [
            path: "${params.outdir}/taxonomy/csv",
            mode: params.publish_dir_mode,
            pattern: "*",
        ]
    }

    withName: PLOT_TAXONOMY {
        publishDir = [
            path: "${params.outdir}/taxonomy/plots/",
            mode: params.publish_dir_mode,
            pattern: "*",
        ]
    }

    withName: PLOT_CORE {
        publishDir = [
            path: "${params.outdir}/taxonomy/plots/core/",
            mode: params.publish_dir_mode,
            pattern: "*",
        ]
    }

    withName: DIVERSITY {
        publishDir = [
            path: "${params.outdir}/diversity/",
            mode: params.publish_dir_mode,
            pattern: "*",
        ]
    }

    withName: SEQKIT_SEQ {
        ext.args   = { "-i " }
        ext.prefix = { "${meta.id}_i" }
        publishDir = [
            path: { "${params.outdir}/QC/nanoq_reports/pre_filter" },
            mode: params.publish_dir_mode,
            pattern: "*.stats",
        ]
    }

    withName: SEQKIT_SEQ {
        ext.args   = { "-i " }
        ext.prefix = { "${meta.id}_i" }
        publishDir = [
            path: { "${params.outdir}/QC/nanoq_reports/pre_filter" },
            mode: params.publish_dir_mode,
            pattern: "*.stats",
        ]
    }
    withName: PICRUST2 {
        publishDir = [
            path: "${params.outdir}/functional_prediction/picrust2_results",
            mode: params.publish_dir_mode,
            pattern: "*",
        ]
    }

    withName: MERGE_PICRUST_OUT {
        publishDir = [
            path: "${params.outdir}/functional_prediction/picrust2_results/",
            mode: params.publish_dir_mode,
            pattern: "*.csv",
        ]
    }

    withName: LEFSE {
        publishDir = [
            path: "${params.outdir}/functional_prediction/DE_lefse/",
            mode: params.publish_dir_mode,
            pattern: "*.csv",
        ]
    }
    withName: PLOT_LEFSE {
        publishDir = [
            path: "${params.outdir}/functional_prediction/DE_lefse/",
            mode: params.publish_dir_mode,
            pattern: "*.pdf",
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
